.product-wrapper{
    width: calc(100% - 260px);
    height: 100%;
    margin: 70px 260px 0px;
    padding: 70px 30px 50px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    position: relative;
}

.product-wrapper::-webkit-scrollbar{
    display: none;
    background-color: transparentize($color: #fff, $amount: 0)
}

@media only screen and (max-width: 1000px){
    .product-wrapper{
        width: calc(100% - 200px);
        margin: 70px 200px 0px;
    }
}


@media only screen and (max-width: 850px){
    .product-wrapper{
        width: calc(100% - 0px);
        margin: 70px 0px 0px;
    }
}