
input[type=text],
input[type=email],
input[type=password]{
    width: 100%;
    border: none;
    border-bottom: 2px solid $grey;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 90%;

    &:focus{
        outline: none;
        border-bottom: 2px solid $secondry;

    }

    
}


