

nav {
   
    position: fixed;
    margin: 0 auto;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 8px 8px rgba(rgb(207, 205, 205),0.6);
    padding: 0 10%;
    font-weight: 100;
    z-index:9999;
    overflow: hidden;
    
    
    
        
       
        &:first-child{
            flex: 0 1 15%;
            
            
        }
    
        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgba(#555,0.4);

            
        }
    
        ul{
            list-style: none;
            float: right;
            flex: 1;
            margin: 10px;
        }
    
        li {
            display: inline-block;
            margin: 0 20px;
           
        }
    
        li a{
            text-decoration: none;
            color: $black;
            border-bottom: 2px solid transparent;
            padding: 10px 0;
            transition: border-bottom 0.5s ;
            -webkit-transition: border-bottom 0.5s ;
            -moz-transition: border-bottom 0.5s ;
            -ms-transition: border-bottom 0.5s ;
            -o-transition: border-bottom 0.5s ;
            

            &:active,
            &:hover {
                border-bottom: 2px solid $red;
            }
        }
    
        img{
    
            max-width: 100%;
            max-height: 100%;
        }
    
    
        .cart-container{
            flex: 0 1 15%;
            background-color: $grey;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.2s background-color ease-in-out;
            
            .icon{
                color: $red;
                margin-right: 5px;
    
            }
        }
    

    

    


}


@media only screen and (max-width: 835px){
    nav{
        padding: 0 !important;
    }
}

@media only screen and (max-width: 670px){
   nav{
        justify-content: space-between;
        
        &:first-child{
            flex: 0 1 30%;
        }

        .menu{
            .nav-icon{display: block;}
        }
        ul{
            display: none;
        }

        .cart-container{
            flex: 0 1 30%;
    
            
        }
    
   }
}


