.sidebar-wrapper{
    width: 260px;
    position: fixed;
    top: 70px;
    left:0;
    bottom: 0;
    background-color: $side-nav-color;
    z-index: 999999;
    // border-right: 2px solid darken($side-nav-color,5);
    box-shadow: 0 0px 5px rgba(#555,0.6);

    .sidebar-content{
        ul {
            list-style: none;
            padding: 2px;
        }

        li{
            padding: 10px;
            border-bottom:2px solid darken($color: $side-nav-color,$amount: 20);
            transition: background-color 0.2s;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            -ms-transition: background-color 0.2s;
            -o-transition: background-color 0.2s;
            &:hover{
                background-color: rgb(207, 211, 207);   
            }
        }

        li a{
            text-decoration: none;
            color: darken($color: $side-nav-color, $amount: 40);
            display: flex;
            align-items: center;
            .icon{
                margin-right: 15px;
            }
        }


        .active{
            background-color: rgb(203, 207, 203);   
        }



        
    }
    
    
}


@media only screen and (max-width: 1000px){
    .sidebar-wrapper{
        width: 200px;
    }
}

@media only screen and (max-width: 850px){
    .sidebar-wrapper{
        display: none;
    }
}


