<section class="banner-container">
    <div class="banner-slider" >
        <img src="/assets/images/offers/offer2.jpg" alt="Image 1" />
        <img src="/assets/images/offers/offer1.jpg" alt="Image 2" />
        <img src="/assets/images/offers/offer3.jpg" alt="Image 3" />
        <img src="/assets/images/offers/offer4.jpg" alt="Image 4" />
    </div>

    <button class="btn" id="prev" (click)="prev()">
        Prev
    </button>
    <button class="btn" id="next">
        Next
    </button>

    
</section>