<section class="banner-container" aria-labelledby="banners">
  <div class="banner-slider">
    <img
      src="/assets/images/offers/offer2.jpg"
      alt="Image 1"
      aria-label="banner1"
    />
    <img
      src="/assets/images/offers/offer1.jpg"
      alt="Image 2"
      aria-label="banner2"
    />
    <img
      src="/assets/images/offers/offer3.jpg"
      alt="Image 3"
      aria-label="banner3"
    />
    <img
      src="/assets/images/offers/offer4.jpg"
      alt="Image 4"
      aria-label="banner4"
    />
  </div>

  <button class="btn" id="prev">
    <span class="material-icons"> chevron_left </span>
  </button>
  <button class="btn" id="next">
    <span class="material-icons"> chevron_right </span>
  </button>
</section>
