<app-header></app-header>
<div class="main-container">
  <div class="row signup-container">
    <div class="col span-1-of-2 log login-left-section">
      <h1>SignUp</h1>
      <p class="login-content">
        We don't share your personal details with anyone
      </p>
    </div>
    <div class="col span-1-of-2 log signup-right-section">
      <div class="box">
        <!-- <label>Email</label> -->
        <input type="text" placeholder="First Name" />
      </div>
      <div class="box">
        <!-- <label>Password</label> -->
        <input type="text" name="last_name" placeholder="Last Name" />
      </div>
      <div class="box">
        <!-- <label>Password</label> -->
        <input type="email" name="password" placeholder="Email" />
      </div>
      <div class="box">
        <!-- <label>Password</label> -->
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="box">
        <!-- <label>Password</label> -->
        <input type="password" name="password" placeholder="Confirm Password" />
      </div>
      <button class="btn btn-filled" id="submit">SignUp</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
