<nav>
  <div class="menu">
    <img src="/assets/images/logo.png" alt="logo" class="navbar-logo-image" />
  </div>

  <ul>
    <li><a href="#" [routerLink]="'/home'">Home</a></li>
    <li><a href="#" [routerLink]="'/product/all'">Products</a></li>
    <li><a href="#" [routerLink]="'/auth/login'">SignIn</a></li>
    <li><a href="#" [routerLink]="'/auth/register'">Register</a></li>
  </ul>

  <div class="cart-container" [routerLink]="'/cart'">
    <span class="material-icons icon">shopping_cart</span>
    {{ cartItemCounter }} items
  </div>
</nav>
