<app-header></app-header>
<section class="cart-main-container" >
    <div class="cart-header">
        My Cart ( 1 item)
    </div>
    <div class="row">
        <div class="col span-2-of-2 cart-items">
            <img src="/assets/images/products/fruit-n-veg/apple.jpg" class="cart-image" alt="">
            <div class="item-detail">
                <h3>Apple Washinton, Regular 4 Pcs</h3>
                <p class="product-counter">
                    <span class="item-count">-</span> 1 <span class="item-count">+</span> X Rs187
                </p>
            </div>
            <div class="item-price">
                Rs 187
            </div>
        </div>

        
    </div>
    <div class="cart-info">
        <img src="/assets/images/lowest-price.png" alt="">
        <span>You won't find cheaper anywhere</span>
    </div>
    <div class="checkout-container">
        <div class="checkout-info">Promo Code can be applied on payment page</div>
        <div class="btn btn-filled btn-checkout">
            <div>Proceed To checkout</div>
            <div class="checkout-text">
                Rs187&nbsp;<span class="material-icons icons">chevron_right</span>
            </div>
        </div>
    </div>
</section>
