<app-header></app-header>
<div class="main-container">
    <div class="row">
        <div class="col span-1-of-2 log login-left-section">
            <h1>Login</h1>
            <p class="login-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sed, maxime eligendi dolor voluptatem.
            </p>
        </div>
        <div class="col span-1-of-2 log login-right-section">
            
                <div class="box">
                    <!-- <label>Email</label> -->
                    <input type="text" placeholder="Email"/>
                </div>
                <div class="box" >
                    <!-- <label>Password</label> -->
                    <input 
                        type="password" 
                        name="password" placeholder="Password"/>
                </div>
                <button class="btn btn-filled" id="submit">
                    Login
                </button>
            
        </div>
    </div>
</div>
<app-footer></app-footer>